/* light theme */

/*
#name --> element with id=name
.name --> element with class=name
*/

.table-view {
    -fx-base: #4d4d4d;
    -fx-control-inner-background: #4d4d4d;
    -fx-background-color: #4d4d4d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 0;
    -fx-font-size: 15pt; 		/* For simple Interface */
    /* -fx-font-size: 12pt; */ 	/* For advanced Interface */
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header .label {
    -fx-font-size: 18pt; 		/* For simple Interface */
    /* -fx-font-size: 12pt; */ 	/* For advanced Interface */
    -fx-font-family: "Berlin Sans FB";
    -fx-font-weight: normal;
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-opacity: 1;
}

/* cambia colore sfondo quando seleziono canzone dalla lista */
.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: #282828;
}

/* pannello di sfondo nella tabella */
.table-row-cell {
    -fx-background-color: -fx-table-cell-border-color, #4d4d4d;
    -fx-background-insets: 0, 0 0 0 0;
    -fx-padding: 0.0em; /* 0 */
    -fx-table-cell-border-color: transparent;
}

/* titoli colonne tabella */
.table-row-cell .label {
    -fx-background-color: -fx-table-cell-border-color, #4d4d4d;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
    -fx-alignment: center;
    -fx-text-fill: white;
}

/* righe dispari hanno diverso colore */
.table-row-cell:odd {
    -fx-background-color: -fx-table-cell-border-color, #5a5a5a;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
    -fx-text-fill: #000;
}

.table-row-cell:selected {
    -fx-background-color: #282828;
}

.pane-background:hover {
    -fx-background-color: #282828;
}

.border-pane {
    -fx-background-repeat: stretch;
    -fx-background-size: 600 218;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

#imagePane {
    -fx-background-repeat: stretch;
    -fx-background-size: 100 100;
    -fx-background-position: center center;
    -fx-effect: dropshadow(gaussian, black, 10, 0.1, 0, 0);
}

/* --------------------------------------------------------------------------------------------------------- */
/* Aggiunti da noi */
/* --------------------------------------------------------------------------------------------------------- */

.menu:hover, .menu:showing {
  -fx-background-color: #282828;
}

.menu-item:focused {
   -fx-background-color : #282828;
}

.menu .label {
    -fx-text-fill: white;
}

.menu-item {
	-fx-background-color : #4d4d4d;
}

.menu-item .label {
	-fx-text-fill: white;
}

/* pane on the right for the old "playlist" function */
#window {
	-fx-background-color: transparent;
}

/* pane where "Music player" is written */
#anchorPaneTop {
	-fx-background-color: #0d0d0d;
}

#anchorPaneTop .label {
	-fx-text-fill: white;
}

#playlistNode {
	-fx-background-color: #d8d8d8;
}

#menubar {
	-fx-background-color: #4d4d4d;
}

.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: #4d4d4d;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; /* 4 1 8 1 */
}

/* cambio il colore della freccia per i submenu */
.context-menu .arrow {
	-fx-mark-color: white;
}

#paneUnderTable {
	/*-fx-background-color: #4d4d4d;*/
	-fx-background-color: #414141;
}

#anchorPaneExit {
	-fx-background-color: #4d4d4d;
}

#playlistPane1 {
	-fx-border-color: #eee; 
	-fx-background-color: #d2d2d2;
}

#programName {
	-fx-text-fill: white;
}

.table-cell {
	-fx-text-fill: white;
}

.split-pane *.split-pane-divider {
    -fx-padding: 0 1 0 1;
    -fx-background-color: black;
}

#songTable {
	-fx-border-color: none; 
}

#songName, #artistName, #albumName, #currentDuration, #totalDuration, #volumeValue, #labelLoop {
	-fx-text-fill: white;
}

.button {
	-fx-background-color: #4d4d4d;
	-fx-text-fill: white;
	-fx-focus-traversable: false;
}