/* dark dialogs for dark theme */

/*
#name --> element with id=name
.name --> element with class=name
*/

.dialog-pane {
    -fx-border-color: #b3b3b3;
	-fx-border-width:1.0px;
}

.dialog-pane .label {
    -fx-font-size: 15pt; /* For simple interface, otherwise no specific font size */
}